body {
	padding: 0; 
	margin: 0; 
	font-family: sans-serif;
	background-color: #121421;
	color: white;
}

* {
	cursor: default;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	font-weight: bold;
	transition: all 200ms linear;
}

header div {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 50px;
}

header li {
	list-style: none;
	margin-right: 20px;
	text-decoration: none;
	cursor: pointer;
	opacity: 0;
}

header li:hover {
	text-decoration: underline;
}

#li_1 {animation: apparition 300ms ease-in-out;}

#li_2 {animation: apparition 300ms ease-in-out;
		animation-delay: 300ms;}
#li_3 {animation: apparition 300ms ease-in-out;
		animation-delay: 600ms;}
#li_4 {animation: apparition 300ms ease-in-out;
		animation-delay: 900ms;}
#li_5 {animation: apparition 300ms ease-in-out;
		animation-delay: 1200ms;}
#li_6 {animation: apparition 300ms ease-in-out;
		animation-delay: 1500ms;}
#li_7 {animation: apparition 300ms ease-in-out;
		animation-delay: 1800ms;}

@keyframes apparition {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}

header img {
	height: 30px;
	margin-right: 10px;
	animation: logo_apparition 1s ease-in-out;
}

@keyframes logo_apparition {
	from {
		margin-bottom: -100px;
		opacity: 0;
	} to {
		margin-bottom: 0;
		opacity: 1;
	}
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#budgets {
	position: absolute;
	justify-content: flex-start;
	align-items: flex-start;
	margin-left: 25px;
	animation: budget_apparition 1s ease-in-out;
}

@keyframes budget_apparition {
	from {
		margin-left: -200px;
	} to {
		margin-left: 25px;
	}
}

#budgets h2 {
	margin-bottom: -1px;
	font-weight: normal;
}

#budgets li {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#budgets img {
	width: 30px;
}

#budgets p {
	margin-left: 10px;
	font-size: 15px;
}

#budgets span {
	color: #2b7286;
	font-size: 10px;
}

h1 {
	font-size: 50px;
	text-align: center;
}

#get_more {animation: 500ms ease-in-out apparition; opacity: 0;
			animation-delay: 500ms;}

#your_budget {animation: 500ms ease-in-out apparition;
				animation-delay: 1s; opacity: 0;}

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  cursor: pointer;
  border-color: #fa3f6c;
  color: #fff;
  box-shadow: 0 0 40px 40px #fa3f6c inset, 0 0 0 0 #fa3f6c;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  animation: btn_apparition 1s ease-in-out;
  position: absolute;
  top: 300px;
} .btn:hover, .btn:focus {
  color: #3498db;
  outline: 0;
} .btn:hover {
  box-shadow: 0 0 10px 0 #fa3f6c inset, 0 0 10px 4px #fa3f6c;
  color: #fa3f6c;
}

@keyframes btn_apparition {
	from {
		top: 400px;
		opacity: 0;
	} to {
		top: 300px;
		opacity: 1;
	}
}

#widget {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	margin-top: 100px;
	animation: widget_apparition 1s ease-in-out;
	animation-delay: 1s;
	opacity: 0;
}

@keyframes widget_apparition {
	from {
		opacity: 0;
		margin-top: 200px;
	} to {
		opacity: 1;
		margin-top: 100px;
	}
}

article {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-top: 50px;
	width: 25%;
	height: 400px;
	background-color: white;
	border-radius: 30px;
	color: black;
	padding: 10px;
	transition: transform 200ms linear;
}

article:hover {
	transform: scale(1.01);
}

input {
	height: 50px;
	width: 85%;
	border-radius: 15px;
	border: none;
}

input[type='email'] {
	background-color: #f3f3ea;
	cursor: text;
}

::placeholder {
	margin-left: 20px;
}

input[type='button'] {
	margin-top: 20px;
	background-color: #fa3f6c;
	color: white;
	transition: background-color 500ms linear;
}

input[type='button']:hover {
	background-color: #cf345a;
}

article p {
	font-weight: bold;
}

#customers {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

article p:nth-child(1) {
	margin-right: 20px;
}

#ligne {
	background-color: #f0f0e2;
	padding: 10px;
	height: 20px;
	width: 85%;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#inputs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#ligne img {
	width: 90%;
}

#list img {
	width: 85%;
}

#list button {
	background-color: #feb101;
	border-radius: 15px;
	padding: 20px;
	width: 50%;
	border: none;
	transition: all linear 200ms;
	color: white;
}

#list button:hover {
	background-color: #eea600;
	transform: scale(1.15);
}

#graphique {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#graphique img:nth-child(2) {
	width: 30px;
	border-radius: 25px;
	transition: all 200ms linear;
	padding: 10px;
	cursor: pointer;
}

#graphique img:nth-child(2):hover {
	background-color: #d6d6d6;
}

#graphique img:nth-child(3) {
	width: 60%;
}

#graphique div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	margin-top: -10px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #fa3f6c; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #cf345a; 
}

#tableau_de_bord {
	position: fixed;
	right: 10px;
	bottom: 10px;
	background-color: black;
	width: 150px;
	height: 100px;
}

#carte {
	position: absolute;
	width: 70%;
	left: 15%;
	display: none;
	transition: all 200ms ease-in-out;
}
