body {
	padding: 0; 
	margin: 0; 
	font-family: sans-serif;
	background-color: #121421;
	color: white;
}

* {
	cursor: default;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	font-weight: bold;
	transition: all 200ms linear;
}

header div {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 50px;
}

li {
	list-style: none;
	margin-right: 20px;
	text-decoration: none;
	cursor: pointer;
}

header li:hover {
	text-decoration: underline;
}

header img {
	height: 30px;
	margin-right: 10px;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#budgets {
	position: absolute;
	justify-content: flex-start;
	align-items: flex-start;
	margin-left: 25px;
}

#budgets h2 {
	margin-bottom: -1px;
	font-weight: normal;
}

#budgets li {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#budgets img {
	width: 30px;
}

#budgets p {
	margin-left: 10px;
	font-size: 15px;
}

span {
	color: #2b7286;
	font-size: 10px;
}

h1 {
	font-size: 50px;
	text-align: center;
}

section a {
	background-color: #fa3f6c;
	padding: 20px;
	color: white;
	border-radius: 20px;
	text-decoration: none;
	transition: all linear 200ms;
}

a:hover {
	transform: scale(1.15);
	background-color: #cf345a;
}

#widget {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}

article {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-top: 50px;
	width: 25%;
	height: 400px;
	background-color: white;
	border-radius: 30px;
	color: black;
	padding: 10px;
	transition: transform 200ms linear;
}

article:hover {
	transform: scale(1.01);
}

input {
	height: 50px;
	width: 85%;
	border-radius: 15px;
	border: none;
}

input[type='email'] {
	background-color: #f3f3ea;
	cursor: text;
}

::placeholder {
	margin-left: 20px;
}

input[type='button'] {
	margin-top: 20px;
	background-color: #fa3f6c;
	color: white;
	transition: background-color 500ms linear;
}

input[type='button']:hover {
	background-color: #cf345a;
}

article p {
	font-weight: bold;
}

#customers {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

article p:nth-child(1) {
	margin-right: 20px;
}

#ligne {
	background-color: #f0f0e2;
	padding: 10px;
	height: 20px;
	width: 85%;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#inputs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#ligne img {
	width: 90%;
}

#list img {
	width: 85%;
}

#list button {
	background-color: #feb101;
	border-radius: 15px;
	padding: 20px;
	width: 50%;
	border: none;
	transition: all linear 200ms;
	color: white;
}

#list button:hover {
	background-color: #eea600;
	transform: scale(1.15);
}

#graphique {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#graphique img:nth-child(2) {
	width: 30px;
	border-radius: 25px;
	transition: all 200ms linear;
	padding: 10px;
}

#graphique img:nth-child(2):hover {
	background-color: #d6d6d6;
}

#graphique img:nth-child(3) {
	width: 60%;
}

#graphique div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	margin-top: -10px;
}

#tableau_de_bord {
	position: fixed;
	right: 10px;
	bottom: 10px;
	background-color: black;
	width: 150px;
	height: 100px;
}